<%- include('./partials/header') %>

<main class="container mt-3">
    <%if(flash.success && flash.success.length){%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= flash.success %> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    <%}%>
    <%if(flash.error && flash.error.length){%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= flash.error %> 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
        </div>
    <%}%>
    </main>

<div class="mt-2 container">
    
    <form name="myForm" action="/interview/edit" method="POST">
        <input type="text" name="_id" value="<%=`${interview._id}`%>" hidden>
        <div class="mb-3">
            <label for="name" class="form-label">Interview Name</label>
            <input minlength="3" maxlength="30" type="text" id="name" class="form-control" value="<%=`${interview.name}`%>" placeholder="Description" aria-label="Username" name="name" required>
        </div>
        <label for="date">Date</label>
          <input type="date" name="date" required id="date">
          <br><br>
          <label for="startTime">Start Time</label>
          <label for="endTime">End Time</label>
          <div class="form-row">
            <div class="input-group clockpicker col" data-autoclose="true">
              <input type="time" class="form-control" value="09:30" name="startTime" id="startTime">
            </div>
            <div class="input-group clockpicker col" data-autoclose="true">
              <input type="time" class="form-control" value="09:30" name="endTime" id="endTime">
            </div>
          </div>
          <% for(let i=0;i<candidates.length;i++){ %>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="<%=`${candidates[i]._id}`%>" id="<%=`person${i}`%>" name="person">
                <label class="form-check-label" for="<%=`person${i}`%>">
                    <%=`${candidates[i].fullname} (${candidates[i].email})`%>
                </label>
              </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- <form onsubmit="return validate(this);"> -->
<!-- <script type="text/javascript" src="/js/scripts.js"> -->
    
</script>

<%- include('./partials/footer') %>